SolicitudesUniversitariasInput.json
{
  "name": "SolicitudesUniversitariasInput",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "89d35bc1-7a1a-463e-b59f-377099a02ab7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        0
      ],
      "id": "a575b31d-3317-4275-a622-4f51045776f2",
      "name": "Webhook",
      "webhookId": "89d35bc1-7a1a-463e-b59f-377099a02ab7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un sistema inteligente de clasificación y priorización de solicitudes universitarias.\n\nASUNTO:\n{{ $json.body.asunto }}\n\nMENSAJE:\n{{ $json.body.body }}\n\nAnaliza la solicitud y responde únicamente con un JSON válido.\n\nDebes conservar exactamente el asunto y el mensaje recibidos.\n\nCategorias válidas:\n\n* Académica\n* Financiera\n* Bienestar\n* Admisiones\n* Biblioteca\n* Tecnología\n* General\n\nDependencias válidas:\n\n* Registro Académico\n* Tesorería\n* Bienestar Universitario\n* Admisiones\n* Biblioteca\n* Mesa de Ayuda TI\n* Atención al Estudiante\n\nEscala de prioridad:\n\n1 = Muy baja\n2 = Baja\n3 = Media\n4 = Alta\n5 = Crítica\n\nFormato obligatorio:\n\n{\n\"asunto\": \"\",\n\"body\": \"\",\n\"categoria\": \"\",\n\"dependencia\": \"\",\n\"prioridad\": 0,\n\"justificacion_prioridad\": \"\"\n}\n\nNo agregues explicaciones.\nNo uses markdown.\nDevuelve únicamente JSON.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "fb63687e-2b95-4513-bcb9-266bb6501565",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -32,
        256
      ],
      "id": "ba30e012-8546-47b1-bbf0-bfe6b0e853a2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "eUMVwNoIC7esiaj7",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "tableId": "solicitudes",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "889e2d19-62c0-47cb-b0cf-ea7391f19371",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "VFKMV4P98Ob1OsI8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json.output);\n\nreturn [\n  {\n    json: data\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        16
      ],
      "id": "40730410-9e20-4da9-8355-7040835c3a45",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.asunto }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        160,
        256
      ],
      "id": "d695d8c2-cbfb-4e35-aa6f-ce2cb7af2755",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3a65bc8b-e493-4020-9cf2-05c18a00d711",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "befb8bd9788c36047856f8e7a220997faf52437d911cc10d5dffa2dec0c55c54"
  },
  "nodeGroups": [],
  "id": "km40N3V1VeZQjuSf",
  "tags": []
}